<!-- 
********************************************************************************************
Created on : January, 31st, 2018
Developer : Gaurav Bhardwaj
Website: www.ittwist.com
********************************************************************************************
THE BELOW CODE CONTAINS THE HTML MARKUP
FEEL FREE TO USE THE CODE
 -->
<!DOCTYPE html>
<html>
<head>
    <title>JSON Beautifier | Gaurav's ToolBox</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"">
    <script type=" text/javascript" src="../static/js/main.js">
    </script>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta name="description" content="Beautify your JSON - Pretty Printer."/>
</head>
<body onload="onLoadBody()">
          <nav class="navbar navbar-inverse navbar-fixed-top red-white">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand text-uppercase" href="">Json Pretty Print - Gaurav's ToolBox</a>
                    
                  </div>
                  <ul class="nav navbar-nav navbar-right">
                        <li><a href="https://www.linkedin.com/in/gauravlogical/">LinkedIn</a></li>
                        <li><a href="https://twitter.com/@pygaurav">Twitter</a></li>
                        <li><a href="https://github.com/pygaurav">GitHub</a></li>
                      </ul>
                </div>
              </nav>
    <form method="POST" action="">
            
        <div class="row top-marg">
            <textarea placeholder="Paste Unformatted JSON String Here......" rows="20" class="col-sm-6" name="requested_text">{% print(req_text) %}</textarea>
            <textarea placeholder="Formatted JSON will appear here after you press Pretty Print" rows="20" class="col-sm-6"  name="response_text" readonly>{% print(res_text) %}</textarea>
        </div>
    </form>
    <input id="error" class="no-visible" value="{% print(ErrorName) %}"></input>
    <button class=" center-block">Pretty Print >></button>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="onClickClose()">&times;</span>
            <p class="align-center">{% print(ErrorName) %}</p>
        </div>
    </div>
</body>
</html>
